.DS_Store
.ipynb_checkpoints/
data/
weights/
tests_samples/SQUAD/dev-v1.1.json
tests_samples/SQUAD/train-v1.1.json
tests_samples/SQUAD/train-v2.0big.json
tmp/debug_squad5/checkpoint-65000/
tmp/debug_squad5/pytorch_model.bin
tmp/debug_squad6/checkpoint-65000/
tmp/debug_squad6/pytorch_model.bin
tmp/debug_squad7/checkpoint-65000/
tmp/debug_squad7/config.json
